#novedades{
    background: rgba(0,0,0,0.8) url(../../../../public/images/fondo2.jpg) repeat scroll center center/cover;
    height: 100%;
    width: 100%;
    background-blend-mode: darken;
    display: flex;
}

.novedades{
    color: #fff;
}

.novedades h4{
    color: #b5916d;
}